
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*universal*/
body {
    height:100% !important; // inline styles, so you need to add "!important" here
    position:relative;
}
h1{
  font-family: 'Roboto Slab', sans-serif;
  font-weight: bold;
}
h2{
  font-family: 'Roboto Slab', sans-serif;
  font-weight: bold;
}
p{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
.row{
  margin: 0;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #3A61B1;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom.blue:before{
  background-color: #79A426;
  border: none;
}

.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #79A426;
  height: 4px;
  color: #FFF;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}



/*=======navigation===============*/
.navbar {
  position: absolute;
  min-height: 50px;
  top: 0;
  width: 100%;
  margin-bottom: 20px;
  border: none;
  font-family: 'Roboto Slab', sans-serif;
}
.navbar-default {
  background:none;
  border-radius: 4px;
  box-shadow: none;
}

.navbar > .container-fluid{
  max-width: 1600px;
}
/*LOGO;*/
.navbar-brand{
  padding: 0;
  margin: 0;
}
.navbar-brand img{
  height: 65px;
}

.navbar-default .navbar-nav>.active>a {
   background-image: none; 
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdbdbdb', endColorstr='#ffe2e2e2', GradientType=0);
   background-repeat: repeat-x;
   -webkit-box-shadow: inset 0 3px 9px rgba(0,0,0,.075);
   box-shadow: inset 0 3px 9px rgba(0,0,0,.075);
  background-color: rgba(255,255,255,0.2);
  text-shadow:none;
  color: white;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: black;
  background: rgba(255,255,255,0.21);
}
/*****************LINK COLORS**********/
.navbar-default .navbar-nav>li>a {
  color: #FFF;
  text-shadow: 0 1px 4px #000;
  font-size: 1em;
  letter-spacing: 2px;
}
.navbar-default .navbar-nav>li:hover>a {
  color: #FFF;
  background-color: rgba(255,255,255,0.1);
  webkit-transition: background-color ease-in-out .35s;
  -o-transition: background-color ease-in-out .35s;
  transition: background-color ease-in-out .35s;
}

.learn-more-btn:hover{
  background-color: rgba(255,255,255,0.95);
  webkit-transition: background-color ease-in-out .35s;
  -o-transition: background-color ease-in-out .35s;
  transition: background-color ease-in-out .35s;
}

.jumbotron{
  height: 95vh;
  background-image: url('../img/background.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 0;
}
.vertical-center{
  min-height: 95%;
  min-height: 95vh;
  display: flex;
  align-items:center;
}

/*BEST IN MORTGAGE*/
.jumbotron h1, .jumbotron .h1{
  color: white;
  text-shadow: 0 3px 4px #000;
  margin: 1em 0;
}

/*LEARN MORE*/
.learn-more-btn{
  margin-top: 20px;
  border: 2px solid white;
  padding: 1em;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2.6px;
  color: white;
  font-weight: 100;
  text-transform: uppercase;
  font-size: 19px;
}

/*CALCULATOR*/
.calculator{
  min-height: 374px;
  background-color: rgba(255,255,255,0.9);
  margin: 0 auto;
  max-width: 350px;
}
.result{
  max-height: 374px;
  margin: 0 auto;
  max-width: 350px;
  padding: 1em 0;
}
#results,
#mob-results{
  line-height: 2em;
  font-size: 18px;
}
.result-approved{
    background-color: #79A426;
    max-height: 374px;
    margin: 0 auto;
    max-width: 350px;
    display: none;
}
.result-disapproved{
  background-color: #F04B2C;
    max-height: 374px;
    margin: 0 auto;
    max-width: 350px;
    display: none;
}


.calc-container{
  text-align: center;
}
.calc-container label{
  width: 90%;
}
.calc-header{
  font-family: 'Roboto Slab', sans-serif;
  text-align: center;
  padding: .5em 0 0 0;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 0.4em;
}

.calc-form-group, label{
  font-size: 18px;
  font-family:'Roboto', sans-serif;
  font-weight: 100;
  text-align: center;
}

.green-btn{
  background-color: #79A426;
  line-height: 45px;
  color: white;
  text-transform: uppercase;
  font-family: 'Roboto Slab', sans-serif;
  border-radius: 0;
  font-size: 1.2em;
  font-weight: 100;
  border: none;
}
.blue-btn{
  background-color: #3A61B1;
  line-height: 45px;
  color: white;
  text-transform: uppercase;
  font-family: 'Roboto Slab', sans-serif;
  border-radius: 0;
  font-size: 16px;
  font-weight: 100;
  border: none;
}

.email{
  color: #3A61B1;
  cursor: pointer;
}
.close{
  padding: 10px;
  position: relative;
  top: 0;
  right: 0;
  font-size: 20px;
}

/*FORM CONTROL STYLES*/
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #FFF;
  background-color: rgba(61,87,12,0.20);
  background-image: none;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s background-color ease-in-out .35s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s background-color ease-in-out .35s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s, background-color ease-in-out .35s;
}

.hvr-underline-from-left{
  display: block;
}


textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
    border-color: black;
    box-shadow:none;
    outline: 0 none;
    background-color: #79A426;
}

/*========================FOUR BLOCKS================*/
.block-wrapper{
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
.content-blocks{
  height: 100vh;
}
.vertical-center-block{
  min-height: 50%;
  min-height: 50vh;
  display: flex;
  align-items:center;
}
.block{
  height: 50vh;
}
/*TEXT*/
.text-box-right{
  text-align: right;
}
.text-box-left{
  text-align: right;
}

.content-header-right{
  font-family: 'Roboto Slab', sans-serif;
  color: black;
  font-size: 36px;
  text-align: left;
}
.content-header-left{
  font-family: 'Roboto Slab', sans-serif;
  color: black;
  font-size: 36px;
  text-align: left;
}
.text-box-bg{
  width: 68%;
  margin: 0 auto;
}
.text-box-para{
  width: 80%;
  margin: 1em auto;
}

.right-text{
text-align: right;
}
.left-text{
text-align: left;
}


.shad-box{
  background-color: rgba(255, 255, 255, 0.75);
  min-width: 50%;
  max-width: 60%;
  margin: 0 auto;
  text-align: center;
}
.shad-box > p,
.shad-box > strong{
  padding: 1em;
}
/*TOP LEFT BLOCK*/
.case-study{
  background-image: url('../img/family.png');
  background-size:100%;
}
.case-study .testimonial{
  font-style: italic;
  font-size: 1.23em;
}
.family-name{
  font-family: 'Roboto Slab', sans-serif;
  float: right;
  padding: 0.4em;
  font-size: 1em;

}
/*TOP RIGHT BLOCK*/
.read-more-case{
  background-color: #FFF;
}
/*BOTTOM LEFT BLOCK*/
.read-more-way{
  background-color: #FFF;
}
/*BOTTOM RIGHT BLOCK*/
.jrm-way{
  background-image: url('../img/house.png');
  background-size: 100%;
  background-position: center;
}


/*************************NEWS LETTER FOOTER***********************/
.newsletter{
  text-align: center;
  background-color:#79A426;
}
.news-letter-container{
  margin: 0 auto;
  padding: 2em;
}
.news-letter-container > h2 {
  color: white;
  font-size: 36px;
  font-weight: 100;
}
.news-letter-container > .form-group{
  margin: 0 auto;
  padding: 1em;
}
.news-letter-container > .form-group > .form-control{
  background-color: white;
  color: black;
  display: inline-block;''
  }
#newsLetter{
  display: inline-block!important;
}

/*ENVELOPE BUTTON*/
#signupButton{
  position: absolute;
  height: 36px;
  width: 58px;
  background-color: #3A61B1;
  border: #3A61B1;
  color: white;
  text-align: center;
  cursor: pointer;
  transition: background-color ease-in-out .3s, color ease-in-out .3s;
  -webkit-webkit-transition: background-color ease-in-out .3s, color ease-in-out .3s;
  -moz-webkit-transition: background-color ease-in-out .3s, color ease-in-out .3s;
  -ms-webkit-transition: background-color ease-in-out .3s, color ease-in-out .3s;
  -o-webkit-transition: background-color ease-in-out .3s, color ease-in-out .3s;
  webkit-transition: background-color ease-in-out .3s, color ease-in-out .3s;
}
#signupButton:hover{
  background-color: white;
  color: #79A426;
  transition: background-color ease-in-out .3s, color ease-in-out .3s;
  -webkit-webkit-transition: background-color ease-in-out .3s, color ease-in-out .3s;
  -moz-webkit-transition: background-color ease-in-out .3s, color ease-in-out .3s;
  -ms-webkit-transition: background-color ease-in-out .3s, color ease-in-out .3s;
  -o-webkit-transition: background-color ease-in-out .3s;
  webkit-transition: background-color ease-in-out .3s, color ease-in-out .3s;
}
#signupButton > i{
    font-size: 21px;
  /* vertical-align: middle; */
  margin-top: 6px;
  margin-bottom: 4px;
}
/*EMAIL INPUT FIELD*/
#emailForm{
  height: 36px;
  border-color:white;
  border: none;
  outline: none;
  padding: 0 50px;
  font-family: 'Roboto', sans-serif;
    transition: background-color ease-in-out .3s;
  -webkit-webkit-transition: background-color ease-in-out .3s;
  -moz-webkit-transition: background-color ease-in-out .3s;
  -ms-webkit-transition: background-color ease-in-out .3s;
  -o-webkit-transition: background-color ease-in-out .3s;
  webkit-transition: background-color ease-in-out .3s;
}

#emailForm:focus{
  background-color:#3A61B1;
  color: white;
  transition: background-color ease-in-out .3s;
  -webkit-webkit-transition: background-color ease-in-out .3s;
  -moz-webkit-transition: background-color ease-in-out .3s;
  -ms-webkit-transition: background-color ease-in-out .3s;
  -o-webkit-transition: background-color ease-in-out .3s;
  webkit-transition: background-color ease-in-out .3s;
}
/*change color on autofill for google chrome*/
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}


.sign-up{
  display: inline-block;
  background-color: blue;
  height: 30px;
}

/*SOCIAL FOOTER AND LINKS*/

.footer-content{
  background-color: #48546E;
  color: white;
  text-align: center;
}
.icon{
  display: inline-block;
  padding: 1em;
  font-size: 22px;
  text-align: right;
}
.icon > a {
  color: white;
}

.footer-content ul{
  list-style-type: none;
}
.footer-link{
  font-family: 'Roboto Slab', sans-serif;
  display: inline-block;
  text-align: right;
}
.footer-link > a{
  color: white;
  font-weight: 100;
  margin: 0 10px;
  transition: border-bottom ease-in-out .3s;
  -webkit-webkit-transition: border-bottom ease-in-out .3s;
  -moz-webkit-transition: border-bottom ease-in-out .3s;
  -ms-webkit-transition: border-bottom ease-in-out .3s;
  -o-webkit-transition: border-bottom ease-in-out .3s;
  webkit-transition: border-bottom ease-in-out .3s;
}
.footer-link:hover > a{
  color: white;
  font-weight: 100;
  margin: 0 10px;
  border-bottom: 1px solid #79A426;
  text-decoration: none;
  transition: border-bottom ease-in-out .3s;
  -webkit-webkit-transition: border-bottom ease-in-out .3s;
  -moz-webkit-transition: border-bottom ease-in-out .3s;
  -ms-webkit-transition: border-bottom ease-in-out .3s;
  -o-webkit-transition: border-bottom ease-in-out .3s;
  webkit-transition: border-bottom ease-in-out .3s;
}


hr {
  margin-top: 0
   margin-bottom:0; 
  border:0;
   border-top:0 ; 
}


/*MOBILE
*/
.mobile-wrapper{
  display: none;
}
.mobile-nav{
  height: 50px;
  background-color: #48546E;
}
.navbar-brand > img {
  height: 50px;
}

/*TOP BLOCK
*/
.vcenter {
  display: flex;
  align-items:center;
}
.mob-block-one{
  padding-top: 50px;
  min-height: 35vh;
  background-image: url(../img/background.png);
  color: white;
  text-align: center;
  line-height: 35vh;
}
.mobile-header{
  text-shadow: 0 1px 4px #000;
}
.bestIn{
  min-height: 35%;
  min-height: 35vh;
}
.calculatorMobile{
  min-height: 35%;
  min-height: 35vh;
}
.mob-button{
  margin: 0 auto;
}
.mobile-header{
  margin: 2em auto;
}

/*BLOCK 2*/

.mob-block-two{
  min-height: 25%;
  min-height:25vh;
  background-color: #48546E;
}
.mob-link:hover,
.mob-link:focus{
  color: #79A426;
  text-decoration: none;
}
.wayButton{
  background-color: white;
  color: black;
  width: 100%;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  line-height: 25%;
  line-height: 25vh;
  text-align: center;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 20px;
  font-weight: 100;
}
.successButton{
  background-color: transparent;
  min-height: 25%;
  min-height: 25vh;
  color: white;
  width: 100%;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  line-height: 25%;
  line-height: 25vh;
  text-align: center;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 20px;
  font-weight: 100;
  text-shadow: 0 1px 4px #000;
}

/*BLOCK 3*/

.mob-block-three{
  min-height: 25vh;
  padding: 0;
  margin: 0;
  background-image: url(../img/background.png);
  background-size: 100%;
}
.mob-shad-box{
  background-color: rgba(255, 255, 255, 0.75);
  margin: 0 auto;
  text-align: center;
}


/*MOBILE NAV*/
.mob-block-four{
  min-height: 20vh;
  background-color: #48546E;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 25px;
  height: 3px;
  border-radius: 0px;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #48546E;
  border: none;
}
.navbar-collapse {
  padding-right: 15px;
  padding-left: 15px;
  overflow-x: visible;
  -webkit-overflow-scrolling: touch;
   border-top: none; 
   -webkit-box-shadow:none; 
   box-shadow: none; 
}

/*======MODAL==========*/

.modal-content{
  max-width: 374px;
  margin-left: AUTO;
  margin-right: auto;
  box-shadow: none;
  border:none;
  background-color: transparent;
}

@media (max-width: 992px){
  .navbar-default .navbar-nav>li>a {
    color: #FFF;
    text-shadow: 0 1px 4px #000;
    font-size: 1.0em;
    letter-spacing: 0px;
  }
}

@media (max-width: 992px){
  .jumbotron{
    background-size: 100% 100%;
    text-align: center;
    height: auto;
  }
  .navbar-default .navbar-nav>li>a {
  color: #FFF;
  text-shadow: 0 1px 4px #000;
  font-size: 0.8em;
  letter-spacing: 0px;
  }
}
@media (max-width: 768px){
  .desktop-wrapper{
    display: none;
  }
  .mobile-wrapper{
    display: block;
  }
  .links{
    display: none;
  }
  .icon {
  padding: 0.4em;
  font-size: 22px;
  }
  .navbar-default .navbar-nav>li>a {
    color: #FFF;
    text-shadow: 0 1px 4px #000;
    font-size: 1.2em;
    letter-spacing: 0px;
  }

}
@media (max-width: 320px){
  #emailForm {
  padding: 0 20px;
}
}




